:root,
::backdrop {
    --sl-font: "Jost Variable", sans-serif;
    --sl-font-mono: "JetBrains Mono Variable", monospace;

    --sl-color-white: oklch(98.5% 0 0);
    --sl-color-gray-1: oklch(97% 0 0);
    --sl-color-gray-2: oklch(87% 0 0);
    --sl-color-gray-3: oklch(55.6% 0 0);
    --sl-color-gray-4: oklch(37.1% 0 0);
    --sl-color-gray-5: oklch(26.9% 0 0);
    --sl-color-gray-6: oklch(20.5% 0 0);
    --sl-color-black: oklch(14.5% 0 0);

    --sl-color-orange-low: oklch(28.6% 0.066 53.813);
    --sl-color-orange: oklch(42.1% 0.095 57.708);
    --sl-color-orange-high: oklch(90.5% 0.182 98.111);

    --sl-color-green-low: oklch(26.6% 0.065 152.934);
    --sl-color-green: oklch(39.3% 0.095 152.535);
    --sl-color-green-high: oklch(87.1% 0.15 154.449);

    --sl-color-blue-low: oklch(28.2% 0.091 267.935);
    --sl-color-blue: oklch(37.9% 0.146 265.522);
    --sl-color-blue-high: oklch(80.9% 0.105 251.813);

    --sl-color-purple-low: oklch(29.1% 0.149 302.717);
    --sl-color-purple: oklch(38.1% 0.176 304.987);
    --sl-color-purple-high: oklch(82.7% 0.119 306.383);

    --sl-color-red-low: oklch(25.8% 0.092 26.042);
    --sl-color-red: oklch(39.6% 0.141 25.723);
    --sl-color-red-high: oklch(80.8% 0.114 19.571);

    --sl-color-accent-low: oklch(26.6% 0.079 36.259);
    --sl-color-accent: oklch(40.8% 0.123 38.172);
    --sl-color-accent-high: oklch(83.7% 0.128 66.29);

    --sl-main-pad: 0 0 25vh 0;
}

*,
::before,
::after {
    scrollbar-width: none;
    border-radius: initial;
}

body {
    font-variant-ligatures: none;
}

:root {
    /* Border width for code block inline markers */
    --ec-tm-inlMarkerBrdWd: 0;
    /* Background color code block for line markers */
    --ec-tm-markBg: hsl(0 0% 100% / 15%);
}

.site-title {
    font-size: var(--sl-text-h5);
}

.header,
#starlight__sidebar {
    border-color: var(--sl-color-gray-5);
}
@media (min-width: 72rem) {
    .right-sidebar {
        border-color: var(--sl-color-gray-5);
    }
}
#starlight__mobile-toc .dropdown {
    border-inline: initial;
}
@media (min-width: 50rem) {
    #starlight__on-this-page--mobile {
        border-color: var(--sl-color-gray-5);
    }
}

/* Mobile toggle. */
[aria-controls="starlight__sidebar"] {
    background: initial;
    box-shadow: initial;
    color: initial;
}

/* Sidebar accordion. */
#starlight__sidebar {
    summary {
        pointer-events: none;
        .caret {
            display: none;
        }

        .large {
            color: var(--sl-color-gray-3);
        }
    }

    details > ul {
        margin-top: 0.25rem;
    }

    .top-level > li + li {
        margin-top: 1.5rem;
    }
    ul.top-level > li:not(:has(details)) + li:not(:has(details)) {
        margin-top: 0.5rem;
    }

    .large {
        font-size: var(--sl-text-sm);
    }

    .top-level
        > li
        > a.large:not([aria-current="page"]):not(:hover):not(:focus) {
        color: var(--sl-color-gray-2);
    }
}

@media (min-width: 50rem) {
    .sidebar-content {
        padding-bottom: 25vh;
    }
    .sidebar-content::after {
        content: initial;
    }
}
@media (min-width: 72rem) {
    .right-sidebar-panel {
        padding-bottom: 25vh;
    }
}

.content-panel {
    border-top: initial;
    padding-bottom: 0;
}

#starlight__on-this-page {
    /* display: none; */
    /* Align it with the items */
    padding-inline-start: 0.5rem;
}

#starlight__mobile-toc {
    .dropdown {
        border-color: var(--sl-color-gray-5);
        background-color: var(--sl-color-bg-nav);
        .isMobile a {
            border-color: var(--sl-color-gray-5);
        }
        .dropdown > ul > li {
            &:first-child a {
                padding-block-start: 1rem;
            }
            &:last-child a {
                padding-block-end: 1rem;
            }
        }
    }
}

.sl-anchor-link {
    display: inline;
}

.isMobile a:is(:hover, :focus) {
    color: white;
}

@media (max-width: 50rem) {
    #starlight__on-this-page--mobile {
        border-bottom: initial;
    }
    [aria-labelledby="starlight__on-this-page--mobile"] {
        top: initial;
        bottom: 0;
    }
    #starlight__mobile-toc {
        display: grid;
    }
    #starlight__on-this-page--mobile {
        order: 2;
    }
    .dropdown {
        box-shadow: initial;
    }
    .main-frame {
        padding-top: var(--sl-nav-height);
        padding-bottom: var(--sl-mobile-toc-height);
    }
}

.sidebar-content ul ul li {
    border-color: var(--sl-color-gray-6);
}
@media (min-width: 50rem) {
    .sidebar-content ul ul li {
        border-color: var(--sl-color-gray-5);
    }
}

.social-icons {
    margin-inline: auto;
}

.sl-markdown-content {
    ul,
    ol {
        /* Same as `list-inside` but it doesn't have its issues. */
        padding-inline-start: 1.05em;
    }
}

/* Make code block copy button smaller. */
.expressive-code .copy button {
    width: 1.5rem;
    height: 1.5rem;
}
